<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-primary is-fullheight">

      <div class="hero-body">
        <div class="container">

          <div class="columns is-centered">

            <div column is-5-tablet is-4-desktop is-3-widescreen>

<div class="container has-text-centered">
  <h1 class = "title">Upload Text File Here</h1>
<form  action = "http://localhost:5000/uploader" method="POST" class = "box" enctype="multipart/form-data">

<img src="https://img.icons8.com/cotton/64/000000/cloud-storage.png"/>
  <div class="container has-centered">

<img src="https://img.icons8.com/fluent/48/000000/upload--v16.png"/>
  </div>
  <img src="https://img.icons8.com/nolan/64/txt.png"/>

    <div class="field has-addons">

    <div class="control">




      <input class="input is-rounded" type="file"  name="file" placeholder="Upload File">

    </div>
    <button type="submit" value="submit" >submit</button>
  </div>
  <a class="push_button orange" href="/">Back</a>
</div>

</div>

</div>
</form>
</div>
</section>
  </body>
</html>
